.container-fluid img{
    border-radius: 50%;
}
.jumbotron{
    padding: 0;
    margin-bottom: 2rem;
    background-color: #e9ecef;
    border-radius: .3rem;
    text-align: center;
  }
  .jumbotron img{
    size-adjust: 100%;
  }
  .nav-link{
    position: relative;
    font-size: 1.1em;
    color: aliceblue;
    text-decoration: none;
    padding: 6px 20px;
    transition: .5s;
    letter-spacing: 3px;
  }
  .nav-link:hover{
    color: blueviolet;
    text-decoration: underline;
  }
